@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");

/* global setting starts */

:root {
  --text-color: rgb(39, 39, 39);
  --secondary-color: #470441;
  --main-color: #f7f5c9;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f9f9f9;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
}

/* global setting ends */

/* hero section starts */

.hero {
  background-color: var(--main-color);
  position: relative;
  color: #fff;
  padding-bottom: 8em;
  overflow: hidden;
}

.hero-section-bg {
  position: absolute;
  top: -90px;
  right: -200px;
  width: 100%;
  transform: translateX(30px);
}

.hero-section-dots1 {
  position: absolute;
  top: 82%;
  left: 45%;
  width: 13%;
}

.hero-section-dots2 {
  position: absolute;
  top: 20%;
  right: -5%;
  width: 8%;
  transform: rotate(90deg);
}

/* nav section starts */

nav {
  width: 100%;
  padding-top: 2em;
  position: relative;
  z-index: 15;
}

.nav-container {
  width: 80%;
  height: 2.5em;
  margin: 0 auto;
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  padding-bottom: 1em;
  z-index: 10;
}

.nav-items {
  display: inline-block;
  margin-left: 2em;
  color: var(--text-color);
  font-size: 1rem;
  padding-bottom: 0.1em;
  border: 1px solid transparent;
}

.nav-items:hover {
  cursor: pointer;
  text-shadow: none;
  color: var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
  transition: 0.3s;
  font-weight: 500;
}

.nav-item-a {
  color: var(--text-color);
}

.nav-items:hover .nav-item-a {
  color: var(--secondary-color);
}

/* nav section ends */

.hero-section {
  width: 80%;
  padding-top: 4em;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}

.hero-main {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: left;
}

.hero-bg-section {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  z-index: 10;
}

.hero-bg {
  width: 90%;
  box-shadow: 3px 3px 50px rgba(0, 0, 0, 0.1);
}

.hero-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 10;
}

.hero-header {
  font-size: 4rem;
  font-weight: 100;
  color: var(--text-color);
  line-height: 4.5rem;
  margin-bottom: 0.6em;
}

.hero-secondary {
  font-size: 1.2rem;
  line-height: 2rem;
  width: 90%;
  font-weight: 500;
  margin-bottom: 2em;
  color: var(--text-color);
}

.search {
  position: relative;
  z-index: 1;
  width: 90%;
  height: auto;
  background: transparent;
  border: none;
  border-radius: 5px 5px 5px 5px;
  margin-bottom: 3em;
}

.search-input {
  width: 70%;
  height: auto;
  outline: none;
  border: none;
  border-radius: 5px 0 0 5px;
  color: rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 1rem;
  padding: 0.8em;
}

.search-btn {
  width: 30%;
  padding: 0.8em;
  border: none;
  outline: none;
  font-weight: 500;
  background-color: var(--secondary-color);
  color: #fff;
  border-radius: 0 5px 5px 0;
  font-size: 1rem;
  transition: 0.3s;
}

.search-btn:hover {
  cursor: pointer;
  background: #700768;
}

.hero-features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #eeecbc;
  position: relative;
  border-radius: 10px;
}

.hero-features::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  background-color: #d5d3a9;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}

.hero-feature {
  padding: 1em 1.5em;
  color: var(--text-color);
  text-align: center;
}

.hero-feature-head {
  font-size: 3rem;
}

.hero-feature-line {
  font-size: 1.3rem;
}

/* hero section ends */

/* attract section starts */

.attract-section {
  width: 100%;
  padding: 3em 0;
}

.attract {
  width: 80%;
  margin: 5em auto;
  display: grid;
  grid-template-columns: 70% 30%;
  box-shadow: 3px 3px 50px rgba(71, 4, 65, 0.05);
  background-color: rgba(71, 4, 65, 0.1);
  position: relative;
  overflow: hidden;
}

.attract::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 20em;
  height: 20em;
  background-image: url("./images/svg/attrBlob.svg");
  opacity: 0.1;
  background-repeat: no-repeat;
  z-index: 10;
  transform: translate(20%, -35%);
}

.attract-imgs {
  display: grid;
  width: 100%;
  padding: 1.5em;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1em;
}

.attract-img {
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.2);
}

.attract-img-long {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.attract-info {
  padding: 1.5em 1.5em 1.5em 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.attract-header {
  font-size: 3.3rem;
  font-weight: 100;
  color: var(--text-color);
  line-height: 3.8rem;
  margin-bottom: 0.5em;
}

.attract-para {
  font-size: 1.1rem;
  line-height: 2rem;
  font-weight: 500;
  color: var(--text-color);
}

/* attract section ends */

/* howitworks section starts */

.howitworks {
  width: 100%;
  padding: 3em 0;
}

.howitworks-wrap {
  width: 80%;
  margin: 0 auto;
}

.howitworks-heading {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 2em;
}

.howitworks-heading span {
  font-weight: 800;
  color: #000000;
}

.howitworks-inner {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1em;
}

.howitworks-sec {
  text-align: center;
  display: flex;
  justify-items: center;
  background-color: #fff;
}

.howitworks-section {
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 3em 2.5em 2.5em 2.5em;
  border: 1px solid rgba(71, 4, 65, 0.1);
  position: relative;
  background-color: transparent;
}

.howitworks-section::before {
  position: absolute;
  content: attr(title);
  display: block;
  top: 0;
  left: 50%;
  width: fit-content;
  margin: 0 auto;
  padding: 0.3em 1em;
  transform: translate(-50%, -50%);
  background-color: #fff;
  font-size: 1.3rem;
  font-weight: 100;
  color: #fff;
  background-color: var(--secondary-color);
}

.howitworks-icon {
  width: 6em;
  height: 6em;
}

.howitworks-info {
  text-align: left;
  margin-left: 1.3em;
}

.howitworks-sec-para {
  color: var(--text-color);
  font-size: 0.9rem;
  margin-top: 0.5em;
}

/* howitworks section ends */

/* homeType section starts */

.homeTypes {
  width: 100%;
  padding: 5em 0;
}

.homeTypes-section {
  width: 80%;
  margin: 0 auto;
}

.homeType-li {
  margin-bottom: 10em;
  width: 100%;
}

.homeType-li:last-child {
  margin-bottom: 0em;
}

.homeType {
  display: grid;
  grid-template-columns: 70% 30%;
}

.homeType-li:nth-of-type(even) .homeType {
  grid-template-columns: 30% 70%;
}

.type-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.type-info {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  transform: translate(-25%, 5%);
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
  width: fit-content;
  background-color: var(--main-color);
  position: relative;
  overflow: hidden;
}

.type-info::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 20em;
  height: 20em;
  background-image: url("./images/svg/HomeTypeBlob.svg");
  opacity: 0.08;
  background-repeat: no-repeat;
  z-index: 10;
  transform: translate(20%, -35%);
}

.homeType-li:nth-of-type(even) .type-info {
  padding: 2em;
  transform: translate(25%, 5%);
}

.type-header {
  font-size: 3.5rem;
  line-height: 1em;
  margin-bottom: 0.5em;
  font-weight: 500;
}

.type-para {
  font-size: 0.9rem;
  line-height: 1.7em;
  margin-bottom: 2em;
  color: var(--secondary-color);
}

.type-price-tag {
  color: var(--secondary-color);
  font-size: 1rem;
  font-weight: 200;
}

.type-price-val {
  font-size: 1.5rem;
  margin-bottom: 1em;
  font-weight: 500;
}

.type-btn {
  border: none;
  outline: 0;
  width: 8em;
  padding: 0.3em 0.8em;
  border-radius: 25px;
  color: var(--secondary-color);
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid var(--secondary-color);
  background-color: transparent;
  transition: 0.3s;
}

.type-btn:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
  color: #fff;
}

/* homeType section ends */

/* home section starts */

.home {
  width: 100%;
  margin-bottom: 5em;
}

.home-wrap {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.home-section {
  margin-bottom: 4em;
}

.home-subheading {
  font-size: 1.8rem;
  margin-bottom: 0.5em;
}

.home-inner {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
}

.home-item {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #fff;
  position: relative;
}

.home-img {
  width: 100%;
  height: 15em;
  margin: 0 auto;
  border-radius: 5px 5px 0 0;
  transition: 0.3s;
}

.home-item:hover .home-img {
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 0px 1px 15px 0px rgba(20, 50, 99, 0.2);
}

.home-info {
  margin: 2em auto;
  width: 100%;
  padding-left: 1em;
}

.home-price {
  font-size: 1.4rem;
  font-weight: 500;
  color: rgb(20, 50, 99);
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #fff;
  padding: 0em 0.8em;
  border-radius: 25px;
  box-shadow: 0px 1px 15px 0px rgba(20, 50, 99, 0.2);
}

.home-features {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.home-address {
  font-style: italic;
  font-size: 0.9rem;
}

/* home section ends */

/* aboutUs section starts */

.aboutUs-section {
  width: 100%;
  padding: 5em 0;
  position: relative;
}

.aboutUs-section::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 39em;
  background-color: var(--secondary-color);
  z-index: -9;
}

.aboutUs {
  width: 80%;
  margin: 0 auto;
}

.aboutUs-header {
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 1.5em;
  color: #fff;
}

.aboutUs-row1 {
  display: grid;
  grid-template-columns: 40% 60%;
}

.aboutUs-hero-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.aboutUs-hero-header {
  font-size: 3rem;
  color: var(--main-color);
}

.aboutUs-hero-img {
  width: 100%;
}

.aboutUs-row2 {
  font-size: 1.1rem;
  padding-top: 8em;
}

.aboutUs-para {
  width: 65%;
  line-height: 2.2rem;
  margin: 0 auto;
  color: #333;
}

/* aboutUs section ends */

/* testimonial section starts */

.testimonial-section {
  width: 100%;
  padding: 5em 0;
}

.testimonial {
  width: 80%;
  margin: 0 auto;
}

.testimonial-header {
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 1.5em;
}

.testimonial-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.testimonial-sec {
  display: flex;
  box-shadow: 1px 1px 50px #e6e6e4;
  margin: 1em;
}

.testimonial-img {
  object-fit: fill;
  width: 10em;
  height: 100%;
}

.testimonial-info {
  background-color: var(--main-color);
  color: #000000;
  height: 100%;
  align-self: flex-end;
  padding: 2em;
  position: relative;
  overflow: hidden;
}

.testimonial-info::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 20em;
  height: 20em;
  background-image: url("./images/svg/HomeTypeBlob.svg");
  opacity: 0.08;
  background-repeat: no-repeat;
  z-index: 10;
  transform: translate(20%, -35%);
}

.testimonial-detail {
  font-size: 0.8rem;
  line-height: 1.3rem;
}

.testimonial-spec {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.testimonial-name {
  font-size: 1rem;
  font-weight: 700;
  margin-right: 0.5em;
  color: var(--secondary-color);
}

.testimonial-name::after {
  content: ", ";
}

.testimonial-place {
  font-size: 0.8rem;
  font-style: italic;
}

/* testimonial section ends */

/* footer section starts */

.footer {
  width: 100%;
  background-image: linear-gradient(rgb(49, 3, 46), rgb(71, 4, 65));
}

.footer-wrap {
  width: 80%;
  margin: 0 auto;
  padding-top: 3em;
}

/* contact section starts */

.contact {
  width: 100%;
  height: auto;
  margin-bottom: 2em;
  margin-top: 3em;
}

.contact-heading {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 0.8em;
}

.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-form-form {
  display: flex;
  flex-direction: column;
}

.contact-input {
  width: 100%;
  height: 3.5em;
  background: #5e0657;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-bottom: 2em;
  padding-left: 1em;
  font-size: 1rem;
  color: #fff;
}

.contact-area {
  height: 15em;
  padding-top: 1em;
}

::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.contact-btn {
  height: 3.5em;
  width: 8em;
  background-color: var(--main-color);
  border: none;
  color: var(--secondary-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 800;
  transition: 0.3s;
}

.contact-btn:hover {
  background: #e2e0b9;
  cursor: pointer;
}

.contactUs {
  display: flex;
  flex-direction: column;
}

.contactUs-btn {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.contactUs-btn-btn {
  width: 23em;
  height: 4em;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  color: var(--main-color);
  font-size: 1.2rem;
  margin-bottom: 3.1em;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
}

.contactUs-btn-btn:hover {
  cursor: pointer;
  background: var(--main-color);
  color: var(--secondary-color);
  border-color: var(--secondary-color);
  box-shadow: 0px 2px 15px 0px #2b2b2b;
}

.contactUs-icon {
  width: 10%;
  margin-right: 0.8em;
  border: 1px solid transparent;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.contactUs-btn-btn:hover .contactUs-icon {
  border-color: var(--secondary-color);
}

.contactUs-social {
  color: #fff;
  font-size: 3rem;
  margin-left: 1em;
  margin-top: 1.3em;
}

.contactUs-social-heading {
  font-size: 1.8rem;
  margin-bottom: 0.5em;
}

.contactUs-social-icons {
  display: flex;
  justify-content: space-between;
  margin-top: 0.3em;
  width: 90%;
}

.contactUs-social-icon {
  width: 15%;
  padding: 5px;
  transition: 0.3s;
}

.contactUs-social-icon:hover {
  color: var(--main-color);
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  background-color: var(--main-color);
  box-shadow: 0px 1px 50px rgba(247, 245, 201, 0.2);
}

/* contact section ends */

.footer-breaker {
  width: 100%;
  margin: 5em auto 1em auto;
  background-color: var(--main-color);
  opacity: 0.2;
}

.madeby {
  color: #fff;
  text-align: center;
  padding-bottom: 1em;
  font-size: 0.9rem;
}

/* footer section ends */

/* tablet screen starts */

@media screen and (max-width: 800px){


/* hero section starts */

.hero {
  /* background-color: var(--main-color); */
  /* position: relative; */
  /* color: #fff; */
  /* padding-bottom: 8em; */
  /* overflow: hidden; */
}

.hero-section-bg {
  /* position: absolute; */
  top: 0px;
  right: -80px;
  /* width: 100%; */
  /* transform: translateX(30px); */
}

.hero-section-dots1 {
  /* position: absolute;
  top: 82%;
  left: 45%; */
  width: 12%;
}

/* .hero-section-dots2 {
  position: absolute;
  top: 20%;
  right: -5%;
  width: 8%;
  transform: rotate(90deg);
} */

/* nav section starts */

nav {
  /* width: 100%; */
  padding-top: 1.5em;
  /* position: relative; */
  /* z-index: 15; */
}

.nav-container {
  width: 90%;
  height: 2em;
  /* margin: 0 auto; */
  /* color: var(--text-color); */
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  font-size: 1rem;
  padding-bottom: 0;
  /* z-index: 10; */
}

.nav-items {
  /* display: inline-block; */
  margin-left: 1em;
  /* color: var(--text-color); */
  font-size: 0.78rem;
  padding-bottom: 0.1em;
  /* border: 1px solid transparent; */
}

.nav-items:hover {
  /* cursor: pointer; */
  /* text-shadow: none; */
  /* color: var(--secondary-color); */
  /* border-bottom: 1px solid var(--secondary-color); */
  /* transition: 0.3s; */
  /* font-weight: 500; */
}

.nav-item-a {
  /* color: var(--text-color); */
}

.nav-items:hover .nav-item-a {
  /* color: var(--secondary-color); */
}

/* nav section ends */

.hero-section {
  width: 90%;
  padding-top: 3em;
  /* margin: 0 auto; */
  /* position: relative; */
  /* z-index: 10; */
}

.hero-main {
  /* width: 100%; */
  /* height: auto; */
  /* display: grid; */
  grid-template-columns: 45% 55%;
  /* text-align: left; */
}

.hero-bg-section {
  height: 100%;
  /* display: flex; */
  /* justify-content: flex-end; */
  /* z-index: 10; */
}

.hero-bg {
  width: 90%;
  /* box-shadow: 3px 3px 50px rgba(0, 0, 0, 0.1); */
}

.hero-info {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: flex-start; */
  /* justify-content: flex-start; */
  /* z-index: 10; */
}

.hero-header {
  font-size: 2.5rem;
  /* font-weight: 100; */
  /* color: var(--text-color); */
  line-height: 3.1rem;
  /* margin-bottom: 0.6em; */
}

.hero-secondary {
  font-size: 0.9rem;
  line-height: 1.5rem;
  width: 100%;
  font-weight: 500;
  margin-bottom: 2em;
  color: var(--text-color);
}

.search {
  /* position: relative; */
  /* z-index: 1; */
  width: 100%;
  /* height: auto; */
  /* background: transparent; */
  /* border: none; */
  /* border-radius: 5px 5px 5px 5px; */
  margin-bottom: 2em;
}

.search-input {
  /* width: 70%; */
  /* height: auto; */
  /* outline: none; */
  /* border: none; */
  /* border-radius: 5px 0 0 5px; */
  /* color: rgba(0, 0, 0, 0.6); */
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.3); */
  /* border-left: 1px solid rgba(0, 0, 0, 0.3); */
  /* border-top: 1px solid rgba(0, 0, 0, 0.3); */
  font-size: 1rem;
  padding: 0.5em;
}

.search-btn {
  /* width: 30%; */
  padding: 0.5em;
  /* border: none; */
  /* outline: none; */
  font-weight: 300;
  /* background-color: var(--secondary-color); */
  /* color: #fff; */
  /* border-radius: 0 5px 5px 0; */
  font-size: 1rem;
  /* transition: 0.3s; */
}

.search-btn:hover {
  /* cursor: pointer; */
  /* background: #700768; */
}

.hero-features {
  /* display: grid; */
  /* grid-template-columns: repeat(2, 1fr); */
  /* background-color: #eeecbc; */
  /* position: relative; */
  /* border-radius: 10px; */
}

.hero-features::before {
  /* position: absolute; */
  /* content: ""; */
  /* width: 1px; */
  /* height: 100%; */
  /* background-color: #d5d3a9; */
  /* top: 0; */
  /* left: 50%; */
  /* transform: translate(-50%); */
}

.hero-feature {
  padding: 1em 1em;
  /* color: var(--text-color); */
  /* text-align: center; */
}

.hero-feature-head {
  font-size: 2rem;
}

.hero-feature-line {
  font-size: 0.9rem;
}

/* hero section ends */

/* attract section starts */

.attract-section {
    width: 100%;
    padding: 1em 0;
    background-color: rgba(71, 4, 65, 0.1);
  }
  
  .attract {
    width: 90%;
    margin: 4em auto;
    /* display: grid; */
    /* grid-template-columns: 70% 30%; */
    /* box-shadow: 3px 3px 50px rgba(71, 4, 65, 0.05); */
    /* position: relative; */
    /* overflow: hidden; */
    background-color: #fff;
  }
  
  .attract::before {
    /* position: absolute; */
    /* content: ""; */
    /* top: 0; */
    /* right: 0; */
    width: 20em;
    height: 20em;
    /* background-image: url("./images/svg/attrBlob.svg"); */
    opacity: 0.08;
    /* background-repeat: no-repeat; */
    /* z-index: 10; */
    /* transform: translate(20%, -35%); */
    /* display: none; */
  }
  
  .attract-imgs {
    /* display: grid; */
    /* width: 100%; */
    padding: 2em;
    /* grid-template-columns: repeat(2, 1fr); */
    /* grid-template-rows: repeat(2, 1fr); */
    grid-gap: 0.8em;
  }
  
  .attract-img {
    width: 100%;
    height: 100%;
    /* box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.2); */
  }
  
  .attract-img-long {
    /* grid-column: 1 / 2; */
    /* grid-row: 1 / 3; */
  }
  
  .attract-info {
    padding: 2em 2em 2em 0;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: flex-end; */
    /* align-items: flex-start; */
  }
  
  .attract-header {
    font-size: 2.5rem;
    /* font-weight: 100; */
    /* color: var(--text-color); */
    line-height: 3.1rem;
    margin-bottom: 0.6em;
  }
  
  .attract-para {
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin-bottom: 1em;
    /* font-weight: 500; */
    /* color: var(--text-color); */
  }
  
  /* attract section ends */

  /* howitworks section starts */

.howitworks {
    /* width: 100%; */
    /* padding: 3em 0; */
  }
  
  .howitworks-wrap {
    width: 90%;
    /* border: 1px solid red; */
    /* margin: 0 auto; */
  }
  
  .howitworks-heading {
    /* text-align: center; */
    font-size: 2rem;
    /* font-weight: 800; */
    /* margin-bottom: 1.5em; */
  }
  
  .howitworks-heading span {
    /* font-weight: 800; */
    /* color: #000000; */
  }
  
  .howitworks-inner {
    /* display: grid; */
    /* justify-content: center; */
    /* grid-template-columns: repeat(3, 1fr); */
    column-gap: 1em;
  }
  
  .howitworks-sec {
    /* text-align: center; */
    /* display: flex; */
    /* justify-items: center; */
    /* background-color: #fff; */
  }
  
  .howitworks-section {
    /* display: flex; */
    flex-direction: column;
    /* justify-items: center; */
    /* align-items: center; */
    padding: 0.5em;
    /* border: 1px solid rgba(71, 4, 65, 0.1); */
    /* border: 0; */
    /* position: relative; */
    /* background-color: transparent; */
  }
  
  .howitworks-section::before {
    /* position: absolute; */
    /* content: attr(title); */
    /* display: block; */
    /* top: 0; */
    /* left: 50%; */
    /* width: fit-content; */
    width: 80%;
    /* margin: 0 auto; */
    padding: 0.2em 0.8em;
    /* transform: translate(-50%, -50%); */
    /* background-color: #fff; */
    font-size: 1rem;
    /* font-weight: 100; */
    /* color: #fff; */
    /* background-color: var(--secondary-color); */
  }
  
  .howitworks-icon {
    width: 5.5em;
    height: 5.5em;
    margin: 2.5em 0 2em 0;
  }
  
  .howitworks-info {
    text-align: center;
    margin-left: 0;
    margin-bottom: 1em;
  }
  
  .howitworks-sec-para {
    color: var(--text-color);
    font-size: 0.8rem;
    line-height: 1.3rem;
    margin-top: 0.3em;
  }
  
  /* howitworks section ends */

  /* homeType section starts */

.homeTypes {
    /* width: 100%; */
    padding: 3em 0;
  }
  
  .homeTypes-section {
    width: 90%;
    /* margin: 0 auto; */
  }
  
  .homeType-li {
    margin-bottom: 8em;
    /* width: 100%; */
  }
  
  .homeType-li:last-child {
    /* margin-bottom: 0em; */
  }
  
  .homeType {
    /* display: grid; */
    /* grid-template-columns: 70% 30%; */
  }
  
  .homeType-li:nth-of-type(even) .homeType {
    /* grid-template-columns: 30% 70%; */
  }
  
  .type-img {
    /* width: 100%; */
    /* height: 100%; */
    /* object-fit: cover; */
  }
  
  .type-info {
    /* padding: 2em; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: flex-end; */
    /* align-items: flex-start; */
    /* transform: translate(-25%, 5%); */
    /* box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1); */
    /* width: fit-content; */
    width: 18em;
    /* background-color: var(--main-color); */
    /* position: relative; */
    /* overflow: hidden; */
  }
  
  .type-info::before {
    /* position: absolute; */
    /* content: ""; */
    /* top: 0; */
    /* right: 0; */
    /* width: 20em; */
    /* height: 20em; */
    /* background-image: url("./images/svg/HomeTypeBlob.svg"); */
    /* opacity: 0.08; */
    /* background-repeat: no-repeat; */
    /* z-index: 10; */
    /* transform: translate(20%, -35%); */
  }
  
  .homeType-li:nth-of-type(even) .type-info {
    /* padding: 2em; */
    transform: translate(0%, 5%);
  }
  
  .type-header {
    font-size: 2.5rem;
    /* line-height: 1em; */
    /* margin-bottom: 0.5em; */
    font-weight: 400;
  }
  
  .type-para {
    font-size: 0.8rem;
    /* line-height: 1.7em; */
    /* margin-bottom: 2em; */
    /* color: #434242; */
  }
  
  .type-price-tag {
    /* color: var(--secondary-color); */
    /* font-size: 0.9rem; */
    /* font-weight: 200; */
  }
  
  .type-price-val {
    font-size: 1.4rem;
    margin-bottom: 0.6em;
    /* font-weight: 500; */
  }
  
  .type-btn {
    /* border: none; */
    /* outline: 0; */
    /* width: 8em; */
    padding: 0.3em 0.8em;
    /* border-radius: 25px; */
    /* color: var(--secondary-color); */
    font-size: 0.9rem;
    font-weight: 500;
    /* border: 1px solid var(--secondary-color); */
    /* background-color: transparent; */
    /* transition: 0.3s; */
  }
  
  .type-btn:hover {
    /* cursor: pointer; */
    /* background-color: var(--secondary-color); */
    /* color: #fff; */
  }
  
  /* homeType section ends */

  /* home section starts */

.home {
    /* width: 100%; */
    margin-bottom: 0;
    padding: 3em 0;
  }
  
  .home-wrap {
    width: 90%;
    /* margin: 0 auto; */
    /* display: flex; */
    /* flex-direction: column; */
  }
  
  .home-section {
    margin-bottom: 2em;
  }
  
  .home-subheading {
    font-size: 1.5rem;
    margin-bottom: 0.6em;
  }
  
  .home-inner {
    /* margin: 0 auto; */
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-gap: 0.6em;
  }
  
  .home-item {
    /* display: flex; */
    /* flex-direction: column; */
    /* border-radius: 5px; */
    font-size: 1rem;
    /* background-color: #fff; */
    /* position: relative; */
  }
  
  .home-img {
    /* width: 100%; */
    height: 10em;
    /* margin: 0 auto; */
    /* border-radius: 5px 5px 0 0; */
    /* transition: 0.3s; */
  }
  
  .home-item:hover .home-img {
    /* transform: scale(1.05); */
    /* cursor: pointer; */
    /* box-shadow: 0px 1px 15px 0px rgba(20, 50, 99, 0.2); */
  }
  
  .home-info {
    margin: 1em auto;
    /* width: 100%; */
    padding-left: 0.5em;
  }
  
  .home-price {
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--secondary-color);
    /* position: absolute; */
    /* top: 10px; */
    /* left: 10px; */
    background-color: rgba(255,255,255,0.8);
    padding: 0em 0.9em;
    /* border-radius: 25px; */
    /* box-shadow: 0px 1px 15px 0px rgba(20, 50, 99, 0.2); */
  }
  
  .home-features {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 0.1em;
  }
  
  .home-address {
    /* font-style: italic; */
    font-size: 0.8rem;
  }
  
  /* home section ends */

  /* aboutUs section starts */

.aboutUs-section {
  /* width: 100%; */
  padding: 3em 0;
  /* position: relative; */
}

.aboutUs-section::before {
  /* position: absolute; */
  /* content: ""; */
  /* top: 0; */
  /* left: 0; */
  /* width: 100%; */
  height: 24em;
  /* background-color: var(--secondary-color); */
  /* z-index: -9; */
}

.aboutUs {
  width: 90%;
  /* margin: 0 auto; */
}

.aboutUs-header {
  /* text-align: center; */
  font-size: 2rem;
  /* margin-bottom: 1.5em; */
  /* color: #fff; */
}

.aboutUs-row1 {
  /* display: grid; */
  /* grid-template-columns: 40% 60%; */
}

.aboutUs-hero-section {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: flex-start; */
}

.aboutUs-hero-header {
  font-size: 2.5rem;
  line-height: 3.1rem;
  /* color: var(--main-color); */
}

.aboutUs-hero-img {
  /* width: 100%; */
}

.aboutUs-row2 {
  font-size: 1rem;
  padding-top: 5em;
}

.aboutUs-para {
  width: 75%;
  line-height: 2rem;
  /* margin: 0 auto; */
  /* color: #333; */
}

/* aboutUs section ends */
  
/* testimonial section starts */

.testimonial-section {
  /* width: 100%; */
  padding: 3em 0;
}

.testimonial {
  width: 90%;
  /* margin: 0 auto; */
}

.testimonial-header {
  /* text-align: center; */
  font-size: 2rem;
  margin-bottom: 1.5em;
}

.testimonial-inner {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 0em;
}

.testimonial-sec {
  /* display: flex; */
  /* box-shadow: 1px 1px 50px #e6e6e4; */
  /* margin: 1em; */
}

.testimonial-img {
  /* object-fit: fill; */
  width: 10em;
  height: 100%;
}

.testimonial-info {
  /* background-color: var(--main-color); */
  /* color: #000000; */
  height: 100%;
  /* align-self: flex-end; */
  padding: 2em;
  /* position: relative; */
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
}

.testimonial-info::before {
  /* position: absolute; */
  /* content: ""; */
  /* top: 0; */
  /* right: 0; */
  /* width: 20em; */
  /* height: 20em; */
  /* background-image: url("./images/svg/HomeTypeBlob.svg"); */
  /* opacity: 0.08; */
  /* background-repeat: no-repeat; */
  /* z-index: 10; */
  /* transform: translate(20%, -35%); */
}

.testimonial-detail {
  /* font-size: 0.8rem; */
  /* line-height: 1.3rem; */
}

.testimonial-spec {
  /* display: flex; */
  /* justify-content: flex-start; */
  /* margin-bottom: 1em; */
}

.testimonial-name {
  /* font-size: 1rem; */
  /* font-weight: 700; */
  /* margin-right: 0.5em; */
  /* color: var(--secondary-color); */
}

.testimonial-name::after {
  /* content: ", "; */
}

.testimonial-place {
  /* font-size: 0.8rem; */
  /* font-style: italic; */
}

/* testimonial section ends */

/* footer section starts */

.footer {
  /* width: 100%; */
  /* background-image: linear-gradient(rgb(49, 3, 46), rgb(71, 4, 65)); */
  /* position: relative; */
  /* overflow: hidden; */
}

.footer-wrap {
  width: 90%;
  /* margin: 0 auto; */
  padding-top: 2em;
}

/* contact section starts */

.contact {
  /* width: 100%; */
  /* height: auto; */
  margin-bottom: 2em;
  margin-top: 3em;
  /* border: 1px solid yellow; */
}

.contact-heading {
  font-size: 1.5rem;
  /* color: #fff; */
  margin-bottom: 0.6em;
}

.contact-form {
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr; */
}

.contact-form-form {
  /* display: flex; */
  /* flex-direction: column; */
}

.contact-input {
  /* width: 100%; */
  height: 3em;
  /* background: #5e0657; */
  /* outline: none; */
  /* border: none; */
  /* border-radius: 5px; */
  margin-bottom: 1.8em;
  padding-left: 0.8em;
  font-size: 0.9rem;
  /* color: #fff; */
}

.contact-area {
  height: 10em;
  padding-top: 0.8em;
}

::placeholder {
  /* color: rgba(255, 255, 255, 0.7); */
}

.contact-btn {
  height: 3.2em;
  width: 100%;
  /* background-color: var(--main-color); */
  /* border: none; */
  /* color: var(--secondary-color); */
  /* border-radius: 5px; */
  /* font-size: 1rem; */
  /* font-weight: 800; */
  /* transition: 0.3s; */
}

.contact-btn:hover {
  /* background: #e2e0b9; */
  /* cursor: pointer; */
}

.contactUs {
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  /* border: 1px solid yellow; */
}

.contactUs-btn {
  width: 100%;
  padding: 0 2em;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-self: center; */
  /* border: 1px solid green; */
}

.contactUs-btn-btn {
  width: 100%;
  height: 4em;
  /* border: 1px solid var(--main-color); */
  /* border-radius: 5px; */
  /* color: var(--main-color); */
  font-size: 1rem;
  margin-bottom: 2.8em;
  /* transition: 0.3s; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* background-color: var(--secondary-color); */
}

.contactUs-btn-btn:hover {
  /* cursor: pointer; */
  /* background: var(--main-color); */
  /* color: var(--secondary-color); */
  /* border-color: var(--secondary-color); */
  /* box-shadow: 0px 2px 15px 0px #2b2b2b; */
}

.contactUs-icon {
  width: 10%;
  margin-right: 0.5em;
  /* border: 1px solid transparent; */
  /* border-radius: 50%; */
  /* display: grid; */
  /* place-items: center; */
}

.contactUs-btn-btn:hover .contactUs-icon {
  /* border-color: var(--secondary-color); */
}

.contactUs-social {
  /* color: #fff; */
  font-size: 3rem;
  margin-left: 1em;
  margin-top: 1.3em;
  margin: 0 auto;
  text-align: center;
}

.contactUs-social-heading {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 0.8em;
}

.contactUs-social-icons {
  /* display: flex; */
  justify-content: space-evenly;
  margin-top: 0.2em;
  width: 90%;
  margin: 0 auto;
}

.contactUs-social-icon {
  width: 16%;
  padding: 3px;
  /* transition: 0.3s; */
}

.contactUs-social-icon:hover {
  /* color: var(--main-color); */
  /* border-radius: 50%; */
  /* display: grid; */
  /* place-items: center; */
  /* cursor: pointer; */
  /* background-color: var(--main-color); */
  /* box-shadow: 0px 1px 50px rgba(247, 245, 201, 0.2); */
}

/* contact section ends */

.footer-breaker {
  /* width: 100%; */
  margin: 3em auto 1em auto;
  /* background-color: var(--main-color); */
  /* opacity: 0.2; */
}

.madeby {
  /* color: #fff; */
  /* text-align: center; */
  /* padding-bottom: 1em; */
  font-size: 0.8rem;
}

/* footer section ends */

/* tablet screen ends */

}